body {
    width: 100vw;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}



#landingPage {
    padding: 30% 0px;
}

#general {
    background-color: #000;
    background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: inset 0px 1px 40px 16px rgba(0, 0, 0, 0.36);
}

.doors {
    width: 100vw;
    height: 50vh;
    background-color: red;
    position: absolute;
    background-color: #111;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgzMTMpICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSgyMzcsIDEzNywgNTQsMSkiPjwvcmVjdD4gPGNpcmNsZSBmaWxsPSJyZ2JhKDAsIDAsIDAsMSkiIGN4PSI4IiBjeT0iLTIiIHI9IjEiPjwvY2lyY2xlPjxwYXRoIGZpbGw9InJnYmEoMjYsIDI2LCAyNiwxKSIgZD0iTSAyMCAxOSBhIDEgMSAwIDAgMCAwIDJhIDEgMSAwIDAgMCAwIC0yIHogTSAtMTAgLTEwIGggNjAgdiA2MCBoIC02MCB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+");
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.upper {
    top: 0;
}

.lower {
    bottom: 0;
}

h1 {
    bottom: 10px;
}

#testDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    left: 200px;
    top: 200px;
}

/*______TYPO______*/
h1 {
    font-family: "helvetica", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: #fff;

    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;

}
