body {
    width: 100vw;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

#landingPage {
    padding: 30% 0px;
}

#general {
    background-color: #000;
    background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: inset 0px 1px 40px 16px rgba(0, 0, 0, 0.36);
}

.doors {
    width: 100vw;
    height: 50vh;
    background-color: red;
    position: absolute;
    background-color: #000;
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.upper {
    top: 0;
}

.lower {
    bottom: 0;
}

h1 {
    bottom: 10px;
}

#testDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    left: 200px;
    top: 200px;
}

/*______TYPO______*/
h1 {
    font-family: "helvetica", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: #fff;

    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;

}
